apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - upstream/install.yaml
  - neco/service.yaml
patchesStrategicMerge:
  - configmap.yaml
  - deployment.yaml
  - service.yaml
images:
  - name: quay.io/cybozu/argocd
    newTag: 2.1.8.1
  - name: quay.io/cybozu/dex
    newTag: 2.27.0.5
  - name: quay.io/cybozu/redis
    newTag: 6.2.5.2
