# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore CI files
/CACHE_VERSION

# Ignore downloaded files
/download
/logging/bin
/rook/bin
/team-management/template/bin

# Ignore template file to use helm charts
/pvc-autoresizer/base/charts
/topolvm/base/charts
/rook/base/*/charts

# Editors
*~
.*.swp
.#*
\#*#
/.vscode
