apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - egress.yaml
  - squid.yaml
images:
  - name: quay.io/cybozu/squid
    newTag: 5.2.2
  - name: quay.io/cybozu/unbound
    newTag: 1.14.0.1
