apiVersion: apps/v1
kind: Deployment
metadata:
  name: meows-controller
  namespace: meows
spec:
  replicas: 2
  template:
    spec:
      containers:
      - name: controller
        args:
        - --runner-image=quay.io/cybozu/meows-neco-runner:0.6.1.1
        env:
        - name: NO_PROXY
          value: 10.0.0.0/8
        - name: HTTP_PROXY
          value: http://squid.internet-egress.svc:3128
        - name: HTTPS_PROXY
          value: http://squid.internet-egress.svc:3128
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: slack-agent
  namespace: meows
spec:
  template:
    spec:
      containers:
      - name: agent
        env:
        - name: NO_PROXY
          value: 10.0.0.0/8
        - name: HTTP_PROXY
          value: http://squid.internet-egress.svc:3128
        - name: HTTPS_PROXY
          value: http://squid.internet-egress.svc:3128
