apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - upstream/crd
  - upstream/rbac/vmagent_editor_role.yaml
  - upstream/rbac/vmagent_viewer_role.yaml
  - upstream/rbac/vmalert_editor_role.yaml
  - upstream/rbac/vmalert_viewer_role.yaml
  - upstream/rbac/vmalertmanager_editor_role.yaml
  - upstream/rbac/vmalertmanager_viewer_role.yaml
  - upstream/rbac/vmalertmanagerconfig_editor_role.yaml
  - upstream/rbac/vmalertmanagerconfig_viewer_role.yaml
  - upstream/rbac/vmpodscrape_editor_role.yaml
  - upstream/rbac/vmpodscrape_viewer_role.yaml
  - upstream/rbac/vmprobe_editor_role.yaml
  - upstream/rbac/vmprobe_viewer_role.yaml
  - upstream/rbac/vmrule_editor_role.yaml
  - upstream/rbac/vmrule_viewer_role.yaml
  - upstream/rbac/vmservicescrape_editor_role.yaml
  - upstream/rbac/vmservicescrape_viewer_role.yaml
  - upstream/rbac/vmstaticscrape_editor_role.yaml
  - upstream/rbac/vmstaticscrape_viewer_role.yaml
  - rbac
  - operator.yaml
  - vmalertmanager-smallset.yaml
  - vmagent-smallset.yaml
  - vmalert-smallset.yaml
  - vmsingle-smallset.yaml
  - vmalertmanager-largeset.yaml
  - vmagent-largeset.yaml
  - vmalert-largeset.yaml
  - vmcluster-largeset.yaml
  - rules/accurate-alertrule.yaml
  - rules/accurate-scrape.yaml
  - rules/argocd-alertrule.yaml
  - rules/argocd-scrape.yaml
  - rules/cert-manager-alertrule.yaml
  - rules/cert-manager-scrape.yaml
  - rules/cilium-scrape.yaml
  - rules/cke-alertrule.yaml
  - rules/cke-scrape.yaml
  - rules/coil-scrape.yaml
  - rules/elastic-operator-alertrule.yaml
  - rules/elastic-operator-scrape.yaml
  - rules/etcd-alertrule.yaml
  - rules/etcd-scrape.yaml
  - rules/external-dns-alertrule.yaml
  - rules/external-dns-scrape.yaml
  - rules/ingress-alertrule.yaml
  - rules/ingress-scrape.yaml
  - rules/ingress-watcher-alertrule.yaml
  - rules/kube-state-metrics-scrape.yaml
  - rules/kube-state-metrics-alertrule.yaml
  - rules/kube-storage-version-migrator-alertrule.yaml
  - rules/kube-storage-version-migrator-scrape.yaml
  - rules/kubernetes-scrape.yaml
  - rules/kubernetes-alertrule.yaml
  - rules/local-pv-provisioner-scrape.yaml
  - rules/logging-alertrule.yaml
  - rules/logging-scrape.yaml
  - rules/meows-scrape.yaml
  - rules/metallb-alertrule.yaml
  - rules/metallb-scrape.yaml
  - rules/moco-scrape.yaml
  - rules/moco-alertrule.yaml
  - rules/monitoring-scrape.yaml
  - rules/monitoring-alertrule.yaml
  - rules/neco-admission-alertrule.yaml
  - rules/neco-admission-scrape.yaml
  - rules/network-policy-alertrule.yaml
  - rules/network-policy-scrape.yaml
  - rules/node-alertrule.yaml
  - rules/node-scrape.yaml
  - rules/pvc-autoresizer-scrape.yaml
  - rules/rook-scrape.yaml
  - rules/sabakan-alertrule.yaml
  - rules/sabakan-scrape.yaml
  - rules/session-log-alertrule.yaml
  - rules/session-log-scrape.yaml
  - rules/teleport-alertrule.yaml
  - rules/teleport-scrape.yaml
  - rules/tenet-alertrule.yaml
  - rules/tenet-scrape.yaml
  - rules/topolvm-scrape.yaml
  - rules/vault-alertrule.yaml
  - rules/vault-scrape.yaml
patchesStrategicMerge:
  - rbac/viewer_aggregation.yaml
  - rbac/editor_aggregation.yaml
configMapGenerator:
  - name: vmalertmanager
  - name: vmalertmanager-settype-largeset
    literals:
      - 'settype.template={{ define "neco.settype" }}largeset{{ end }}'
  - name: vmalertmanager-settype-smallset
    literals:
      - 'settype.template={{ define "neco.settype" }}smallset{{ end }}'
generatorOptions:
  disableNameSuffixHash: true
configurations:
- kustomizeconfig.yaml
