currentNamespaceOnly: true
enableDiscoveryDaemon: false
pspEnable: false
csi:
  enableCephfsDriver: false
  # The case of cephFS described in upstream is different and may be corrected.
  enableCephfsSnapshotter: false
  pluginPriorityClassName: ""
  provisionerPriorityClassName: ""
image:
  repository: quay.io/cybozu/rook
  tag: 1.6.3.4
  pullPolicy: IfNotPresent
resources:
  limits:
  requests:
    cpu: 100m
    memory: 256Mi
