apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: system
  name: grafana-operator-controller-manager
spec:
  template:
    spec:
      containers:
        - name: manager
          command:
            - /usr/local/bin/grafana-operator
          args:
            - --grafana-image=quay.io/cybozu/grafana
            - --grafana-image-tag=8.2.3.1
            - --grafana-plugins-init-container-image=quay.io/cybozu/grafana_plugins_init
            - --grafana-plugins-init-container-tag=0.0.5.1
            - --scan-all
          env:
            - name: NO_PROXY
              value: 10.0.0.0/8
            - name: HTTP_PROXY
              value: http://squid.internet-egress.svc:3128
            - name: HTTPS_PROXY
              value: http://squid.internet-egress.svc:3128
          volumeMounts:
            - name: tmp
              mountPath: /tmp
        - $patch: delete
          name: kube-rbac-proxy
      volumes:
      - name: tmp
        emptyDir: {}
